<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
{{range .}}
<p>- {{.BrandId}} - {{.Brand_Name}} -
{{end}}

<p class="link"><a href="/brands/create">Insert A Book</a></p>
</body>
</html>